# udfs can generate profiling dump files
*.cpuprof
*.memprof

*.swp
.udfsconfig
*.out
*.coverprofile
*.test
*.orig
*~

coverage.txt
gx-workspace-update.json

.udfs
bin/gx
bin/gx*
bin/tmp


vendor
!vendor/gx/udfs/QmZR2XWVVBCtbgBWnQhWk2xcQfaR3W8faQPriAiaaj7rsr
.tarball
go-udfs-source.tar.gz
udfs_linux
.idea
.vscode

/.gx
/.vscode
/vendor